doctype html
html
  head
    title Social Media Backend Chat 
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    #chat-app
      #chat.has-text-centered
        if user
          section.hero.is-success
            .hero-body
              .container
                h2.title Chat API
          section.section.chat-container
            .container
              .columns
                .box.column.is-8.is-offset-2
                  h2.title Chatbox
                  .chat-messages.has-text-left
                    ul#chat-messages
                  form
                    .field.has-addons
                      p.control
                        input(type='text', class='input', value=`${user.name}`, id='name')
                      p.control.is-expanded
                        input(type='text', class='input', placeholder='Try to say something', id='msg')
                      p.control
                        input(type='submit', class='button is-success', value='Send')
          footer
            .container
              .content
          script.
            const socket = io();
            $('form').submit(function() {
              const name = $('#name').val();
              const message = $('#message').val();

              socket.emit('chatter', `${name} : ${message}`);
              $('#message').val('');
              return false; 
            });

            socket.on('chatter', function(message) {
              $('#chat-messages').append($('<li>').text(message));
            });